@mixin flexCenter($height: 100vh, $direction: column) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $height;
    flex-direction: $direction;
}

header {
    @include flexCenter(100vh, row);
    background: $cor;
    color: $primary;

    button {
        background: $secondary;
        cursor: pointer;
        transition: $time-transition-normal;
        
        &:hover {
            background: transparent;
            color: $primary;
        }
        &::after {
            content: ", aprendendo SASS";
        }
    }

    h1 {
        color: #ff29ff;
    }
}