// Importando arquivos sass
@import './variaveis';
@import './header';
@import './buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contato {
    @include flexCenter(80vh, row);
    background: $secondary;
    color: $primary;
}